body {
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
}

.chat-container {
  width: 300px;
  height: 450px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chat-header {
  background: #00a884;
  color: #ffffff;
  padding: 10px 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.chat-header h2 {
  margin: 0;
  font-size: 1.2rem;
}

.chat-window {
  flex: 1px;
  padding: 10px 15px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  scrollbar-width: none;
}

.chat-window::-webkit-scrollbar {
  display: none;
}

.message {
  padding: 10px;
  border-radius: 10px;
  max-width: 75%;
  word-wrap: break-word;

}

.message.send {
  background: #dcf8c6;
  align-self: flex-end;
  border-bottom-right-radius: 0;
}

.message.received {
  background: #ffffff;
  border: 1px solid #ddd;
  align-self: flex-start;
  border-bottom-left-radius: 0;
}

.chat-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
  background: #f9f9f9;
}

.chat-input input {
  flex: 1px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 30px;
  font-size: 14px;
}

.chat-input button {
  background: #00a884;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.chat-input button:hover {
  background: #007a60;

}
